.about-project__text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.about-project__text_2 {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.about-project__text_3 {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.about-project__text_4 {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  color: rgba(160, 160, 160, 1);
}

@media (max-width: 768px) {
  .about-project__text {
    line-height: 1.1;
  }

  .about-project__text_2 {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__text_4 {
    margin-top: 8px;
  }
}

@media (max-width: 666px) {
  .about-project__text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.72px;
    margin-bottom: 17px;
  }
  .about-project__text_2 {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0px;
    margin-bottom: 58px;
  }

  .about-project__text_3 {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0px;
  }

  .about-project__text_4 {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0px;
    margin-top: -2px;
  }
}
