.check-box__name {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 88px;
  margin-left: 14px;
}

@media (max-width: 768px) {
  .check-box__name {
    font-size: 11px;
    line-height: 18px;
  }
}

