.about-project__container {
  margin: 113px 70px 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .about-project__container {
    margin: 93px 50px 65px 50px;
  }
}

@media (max-width: 666px) {
  .about-project__container {
    margin: 70px 18px 65px 18px;
  }
}
