.card__button_save {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 21px;
  width: 72px;
  text-align: center;
  border-radius: 30px;
  border: none;
  background-color: #f9f9f9;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 9px;
  color: #000000;
}
