.header__link_color_white {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__link_color_white {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
  }
}
