.search-form__input {
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  margin-left: 10px;
  background-color: #fdfdfd;
}

input::placeholder {
  color: rgba(160, 160, 160, 1);
}
