.header {
  display: flex;
  flex-direction: row;
  background-color: rgba(7, 48, 66, 1);
  height: 74px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0 0 0 70px;
  height: 38px;
  width: 38px;
}

.header__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.header__button {
  background-color: rgba(43, 224, 128, 1);
  border: none;
  cursor: pointer;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 30px;
}

.header-container{
    margin-right: 70px;
}
