.navigation__close {
  position: absolute;
  right: 17px;
  top: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 320px) {
  .navigation__close {
    right: 8px;
    top: 13px;
  }
}
