.navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 159px;
}

@media (max-width: 320px) {
  .navigation__wrapper {
    margin-top: 145px;
  }
}
