.profile__button_type_exit {
  border: none;
  background: transparent;
  color: red;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 70px;
}

@media (max-width: 464px) {
  .profile__button_type_exit {
    font-size: 12px;
    line-height: 12px;
  }
}
