.movies-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 231px;
  grid-auto-rows: 231px;
  grid-gap: 60px 30px;
  margin: 0 70px 0 70px;
}

@media (max-width: 1100px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px 0 30px;
    grid-gap: 47px 30px;
  }
}

@media (max-width: 500px) {
  .movies-card-list {
    grid-template-columns: 1fr;
    grid-template-rows: 199px;
    grid-auto-rows: 199px;
    margin: 0 10px 0 10px;
    grid-gap: 39px 0px;
  }
}
