.about-projects__text {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.about-projects__text_2 {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.about-projects__text_3 {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 8px 0 8px 0;
}

.about-projects__text_4 {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    color: rgba(160, 160, 160, 1);
}



