.navigation__link_type_edit {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
