.header__account {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #000000;
  text-decoration: none;
  display: inline;
  margin: 0 17px 0 0;
  padding: 0;
}
