.footer__sign {
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgba(160, 160, 160, 1);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  outline: 1px solid red;
}

@media (max-width: 768px) {
  .footer__sign {
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0px;
  }
}
